h1 {
    margin: 0px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin: 0px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    margin: 0
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #466cd6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header {
    margin: 0 auto;
    width: 1076px;
    border: 2px solid #558675;
    margin-bottom: 25px;
    background-color: #77A897;
    padding: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #558675;
}

.login {
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    background-color: #89A6F5;
    border-radius: 9px;
    border: 2px solid #6f8bd9;
    padding: 2px;
}

.si {
    padding-right: 5px;
    border-right: 2px solid black;
}

.navi {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
}

.nav {
    padding-left: 10px;
}

.body {
    padding: 15px;
    margin: 0 auto;
    width: 1066px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid #bd9f84;
    background-color: #F5C395;
}

.menu {
    border-right: 2px solid gray;
    width: 250px;
}

.m {
    padding-bottom: 5px;
}

.content {
    max-width: 770px;
    padding: 15px;
}

.credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px 0px;
}

.arrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.avtor {
    padding-right: 10px;
}